<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- {% load staticfiles %} -->
<head>
<link href="./css/screen.css"rel="stylesheet" media="screen"/>
<!-- <link href="css/screen.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-1.8.0.js"></script> -->
<script language="javascript" type="text/javascript">

setTimeout(function(){
   window.location.reload(1);
}, 2000);

</script>
<title>Temperature Monitor - Team Pear</title>
</head>
<body>
<div id="layout">
      
      <div id="header">
        
        <h1 id="logo"><a href="./" title="Company">Temperature<span class="light">Monitor</span><span class="leaf">&nbsp;</span></a></h1>
        <hr class="noscreen" />   
     
        <p class="noscreen noprint">
          <em>Skip to <a href="#obsah">content</a>, <a href="#nav">navigation</a>.</em>
        </p>
      
      <hr class="noscreen" />
      
      <div id="nav" class="box">
        <ul>
          <li><a href="/">Home<br /><span>Main page</span></a></li>
          <li><a href="/">Who<br /><span>Our team</span></a></li>
          <li><a href="/">What<br /><span>Our services</span></a></li>
					<li><a href="/">Portfolio<br /><span>Our woks</span></a></li>
					<li><a href="/">Prices<br /><span>How much it costs</span></a></li>
					<li><a href="/">Contact<br /><span>Write us!</span></a></li>
				</ul>
        <hr class="noscreen" />
      </div> 
        
      <div id="container" class="box">
      
        <div id="obsah" class="content box">
          <div class="in">
          
            <h2>Welcome to our Temperature Monitoring App</h2>
            <p>This app is a temperature monitoring system that allows users to monitor their home temperature at a remote location   </p>
            
            <h3>Temperature History</h3>
            
            <p>
				<img src="./temp.png" alt="My image"/>
				<!-- {{ time }} -->

			</p>

            <h3>Hardware</h3>
            <ul>
              <li><a href="#">Raspbery Pi B+</a></li>
              <li><a href="#">Bread board</a></li>
              <li><a href="#">Tmp36 temperature sensor</a></li>
              <li><a href="#">MCP 3008 ADC Converter</a></li>
            </ul> 
            
          </div>
        </div>

        <div id="panel-left" class="box panel">
          <div class="in">
          
          <p>
            <span>12/01/2014</span><br />
            Started the project
          </p>
          
          <p>
            <span>12/13/2014</span><br />
            Project update
          </p>

          </div>
        </div>
      
      </div>
        
        <div id="footer">
          <span class="f-left">&copy; 2014 <a href="/">Team Pear</a></span> <span class="f-right">Member: <a href="http://www.davidkohout.cz">Jian Jia, Shaoqing Zhang</a> | website <a href="http://www.google.com" title="Google Knows">Google Knows</a></span>
        </div>
    </div></div>


</body>
</html>

